<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="TrelloAutomatio">
        <classes>
            <class name="com.trello.assignment.runners.ui.boards.TestRunner"/>
            <class name="com.trello.assignment.runners.api.boards.TestRunner"/>
        </classes>
    </test>
</suite>